.highlight .k { color: #0055ff; font-weight: bold; } /* Keywords */
.highlight .n { color: #000080; } /* Names */
.highlight .c { font-style: italic; color: #888888; } /* Comments */
.highlight .s { color: #dd2200; } /* Strings */
.highlight .m { color: #ff0000; } /* Numbers */
